**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
*.terraform.lock*
terraform.rc
crash.log
crash.*.log
.terraform.d/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
